.blog-page {
    margin:150px auto 0px;
}

.blog-page-title {
    text-align: center;
    font-size: var(--font-size-large);
}

.blog-page-container {
    font-size: 18px;
    width: fit-content;
    margin: 10px auto;
    padding: 10px;
}

.blog-page-post {
    margin: 50px 10px;
    border-left: 1px dashed black;
    padding: 2px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4); 
    padding-left: 10px;
}

.blog-page-post div {
    margin-bottom: 10px;
}



.blog-page-post-title {
    font-weight: 600;
    font-size: 25px;
}

.blog-page-post-title:hover {
    text-decoration: underline;
}

.blog-page-post-author {
    font-size: 16px;
    color: var(--text-color);
}