/* Video Background */
.video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.video {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Banner - Bicheno Accommodation */
.banner {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.banner-title {
    text-align: center;
    width: 400px;
    line-height: 30px;
}

.banner-bicheno {
    font-size: 65px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
    margin: 0;
    padding: 0;
    letter-spacing: 5px;
}

.banner-accommodation {
    text-align: center;
    font-weight: 800;
    line-height: 1rem;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 25px;
    letter-spacing: 6px;
    padding: 0px;
    border-radius: 15px;
    transition: 0.5s;
}

/* social-media */
.social-media {
    position: absolute;
    right: 5%;
    top: 150px;
}

.my-facebook-icon,
.my-instagram-icon {
    margin-right: 5px;
    color: #fff;
    transition: all 0.5s;
    animation: shake 2s;
    animation-iteration-count: infinite;
    border-radius: 12px;
}


@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    2.5% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    5% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    7.5% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    10% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    12.5% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    15% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    17.5% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    20% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    22.5% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    25% {
        transform: translate(1px, -2px) rotate(-1deg);
    }

    30% {
        transform: translate(0px, 0px) rotate(0deg);
    }

    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }
}

.my-facebook-icon:hover,
.my-instagram-icon:hover {
    color: var(--dark-blue);
}

/* Scroll Down Button  */
.scroll-down-button {
    position: absolute;
    bottom: 50px;
    left: 5%;
    z-index: 0;
}

.scroll-down-arrow {
    margin: 0px auto;
}

.scroll-down-arrow span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg) translate(25%, -100%);
    margin-bottom: -10px;
    animation: scroll 2s infinite;
    z-index: 0;
}

.scroll-down-arrow span:nth-child(1) {
    animation-delay: -0.2s;
}

.scroll-down-arrow span:nth-child(2) {
    animation-delay: -0.4s;
}

.scroll-down-arrow span:nth-child(3) {
    animation-delay: -0.6s;
}

.scroll-down-detail {
    position: relative;
    left: 18px;
    text-decoration: none;
    color: white;
    margin: 0px auto;
    font-size: 18px;
}

.scroll-down-button:hover {
    color: var(--grey) !important;
    text-decoration: underline !important;
}

@keyframes scroll {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(25%, -100%);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(75%, -50%);
    }
}