/* header  */
.page-header {
  background-color: var(--primary-color);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0px;
  left: 0px;
  padding-inline: 0 5%;
  z-index: 1;
}

.page-header .logo {
  margin-right: 50px;
  width: 30%;
  min-width: 80px;
  overflow: hidden;
}

/* nav */
.nav-logo {
  height: 80px;
  display: block;
}

nav {
  width: 60%;
}

.page-header nav .user-container {
  display: flex;
  justify-content: space-between;
}

.page-header nav .user-container li {
  font-size: var(--font-size-medium);
  list-style-type: none;
}

.page-header nav .user-container li .nav-link {
  color: white;
  text-decoration: none;
  margin-right: 50px;
  transition: all 0.5s;
}

.page-header nav .user-container li .nav-link:hover {
  color: var(--light-grey);
  text-decoration: underline;
}

.page-header nav .user-container li .nav-link.active {
  color: var(--light-grey);
  text-decoration: underline 2px var(--light-grey);
}

.nav-phone-screen {
  display: none;
}

.menu-toggle-button {
  display: none;
}

@media (max-width: 992px) {
  .page-header {
    padding-inline: 0;
    height: 60px;
  }

  .nav-logo {
    height: 60px;
    display: block;
  }

  .page-header .logo {
    height: 60px;
    margin-right: 10px;
    width: 30%;
    min-width: 80px;
    overflow: hidden;
  }

  .page-header nav .user-container li .nav-link {
    margin-right: 10px;
  }

  nav {
    width: 70%;
  }
}

@media (max-width: 576px) {
  .page-header{
    display: none;
  }

  .nav-phone-screen {
    background-color: rgba(70, 70, 70, 0.8);
    display: block;
    width: 250px;
    height: fit-content;
    position: absolute;
    left: auto;
    top: 60px;
    right: 0;
    z-index: 1;
    margin: 5px;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid var(--primary-color);
  }

  .nav-phone-screen.hidden {
    display: none;
  }

  .nav-phone-screen .phone-screen-link {
    color: white;
  }

  .nav-phone-screen li {
    font-size: var(--font-size-large);
    margin-bottom: 20px;
    text-align: center;
  }

  .nav-phone-screen .phone-screen-link.active {
    color: white;
    text-decoration: underline 2px white;
  }

  .menu-toggle-button {
    font-size: var(--font-size-large);
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 5px;
    padding: 10px;
    font-weight: 600;
    background: #fff;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
  }
}