.blog-edit-detail {
    padding: 10px;
}

.submit-post-button {
    margin-top: 10px;
    background: rgb(95, 166, 194);
    color: #fff;
    padding: 10px 20px;
    display: block;
    width: fit-content;
    border-radius: 5px;
}

.delete-post-button {
    margin-top: 10px;
    background: rgb(95, 166, 194);
    color: #fff;
    padding: 10px 20px;
    display: block;
    width: fit-content;
    border-radius: 5px;
}


