.custom-message {
    width:fit-content;
    height: fit-content;
    padding: 20px 40px;
    color: var(--text-color);
    background: #fff;
    border: 1px var(--text-color) solid;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 5px 5px 10px var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-button {
    width: fit-content;
    margin: 0px auto;
}
